.test {
  width: 100%;
  height: 100dvh;
  background-color: #A8D5BA;
}
.portada {
  width: 100%;
  height: 100dvh;
  position: relative;
  overflow: hidden;
  .scroll-container {
    position: relative;
  }
  .nom-nom, .text-text {
    display: flex;
    flex-direction: column;
    color: rgb(116, 83, 64);
  }

  .scroll-pointer {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(42, 139, 243, 0.8);
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.3s ease-out; /* Transició suau */
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nom,
  .text {
    width: 100%;
    height: calc(50dvh + 1px);
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgba(143, 197, 255, 1);
    z-index: 2;
    text-transform: uppercase;
  }

  .nom {
    align-items: end;
  }
  .text {
    align-items: start;
  }
  .test {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lorem {
    padding: 20px;
    text-transform: uppercase;
  }
}
