---

---

<div id="Portada" class="portada scroll-container">
  <div class="scroll-pointer">SCROLL</div>
  <div id="nom" class="nom">
    <h1 class="nom-nom e1">
      <span class="joan">Joan</span>{" "}
      <span class="guinart">Guinart</span>
    </h1>
  </div>
  <div class="text">
    <h2 class="text-text e1">
      <span>Frontend</span>
      <span>Developer</span>
    </h2>
    <p class="cv e3">CV</p>
    <p class="email e3">Email</p>
  </div>
  <div id="test" class="test">
    <p class="lorem e4">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum asperiores
      laudantium ab inventore nam neque atque molestias, odit tempore adipisci
      cumque nemo saepe perferendis enim minus! Minima ab labore non.Lorem ipsum
      dolor sit, amet consectetur adipisicing elit. Illum asperiores laudantium
      ab inventore nam neque atque molestias, odit tempore adipisci cumque nemo
      saepe perferendis enim minus! Minima ab labore non.Lorem ipsum dolor sit,
      amet consectetur adipisicing elit. Illum asperiores laudantium ab
      inventore nam neque atque molestias, odit tempore adipisci cumque nemo
      saepe perferendis enim minus! Minima ab labore non.
    </p>
  </div>
</div>

<style lang="scss">
@use '../styles/portada.scss'
</style>
